body h1 {
  text-decoration: underline;
  text-align: center;
}
body {
  background-color: rgb(42, 43, 48);
  color: rgb(170, 170, 170);
  margin:0;
  padding: 10px;
}

.centerCard {
  background-color: rgb(59, 60, 66);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.FallacyContainer {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.FallacyCard {
  min-width: 200px;
  max-width: 400px;
  background-color: rgb(39, 44, 44);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.FallacyCard h3 {
  text-align: center;
}

.FallacyCard ul {
  list-style-type: upper-alpha;
  padding: 5px;
  margin-left: 50px;
}

.FallacyCard ul li {
  margin-top: 5px;
}